<h1>プランの詳細</h1>

<% if @plan.owner?(current_user) %>
  <% form_tag "/plan/#{@plan.id}/delete", method: "POST" do %>
    <%= submit_tag "予定を削除する", class: "btn btn-danger" %>
  <% end %>
<% end %>

<div class="row">
    <div class="col-md-6">
        「<%= "#{@plan.owner_user.name}(@#{@plan.owner_user.screen_name})" %>」さんは
        「<%= @plan.start_datetime.strftime('%Y-%m-%d') %>」から「<%= @plan.end_datetime.strftime('%Y-%m-%d') %>」の間に地図の位置に行くそうです

        <h2>参加者一覧</h2>
        <% @plan.attend_accounts.each do |u| %>
          <p>
            <a href="/profile/<%= u.id %>">
  	        <img src="<%= u.icon_url %>"/>
            <%= u.name %>(@<%= u.screen_name %>)
            </a>
          </p>
        <% end %>

        <% unless @plan.owner?(current_user) %>
          <% form_tag "/plan/#{@plan.id}/attend", method: "POST" do %>
            <% if @plan.attend_accounts.exists?(current_user) %>
              <%= submit_tag "参加しないことにする" %>
            <% else %>
              <%= submit_tag "参加してみることにする" %>
            <% end %>
          <% end %>
        <% end %>

        <h2>飯屋</h2>
        <% form_tag "/plan/#{@plan.id}/meshiya", method: "POST" do %>
          <%= text_field_tag 'meshiya', value: @plan.meshiya %>
          <% if @plan.owner?(current_user) %>
          <input type="submit" method="POST" value="送信" class="btn btn-primary">
          <% end %>
        <% end %>
        <hr/>

    </div>
    <div class="col-md-6">
        <div id="map_canvas" style="width:500px; height:300px"></div>
        <script>set_map(<%=@plan.latitude%>, <%=@plan.longitude%>) </script>
    </div>
</div>
