<div class="col-lg-12">
  <h1>Messiah(メシア)について</h1>
  <p>Twitterではよく以下のようなつぶやきがされています。</p>
  <div class="well">
    秋葉原なうw誰かいないかな〜？誰か〜誰か氏〜wとりあえず喫茶店入りましたw 誰かいないかな〜w おっ◯◯さんも秋葉原なのか〜(空リプ)暗くなってきたな〜誰か夕飯でもどうですか？w さて、そろそろ帰りま〜す！w
  </div>
  <p>Messiahは、このような悲しい事件を回避するためにTwitterのフォロワーが、いつどこにいるのかの予定を共有した上で飯屋の共有も行い、ともに飯を食う人間を探すサービスです。</p>

  <h1>ログイン方法</h1>
  <p>右上の「Twitterでログイン」からTwitter認証を利用してログインしてください。</p>
  <div class="well"><%= image_tag 'login.png', width: '100%' %></div>
  <p>ログイン後、トップページには「自分のプラン」「参加予定のプラン」「友達のプラン」一覧が表示されます。</p>

  <h1>プラン作成</h1>
  <p>プランの作成はトップページの「プラン作成はこちらから」をクリックします。</p>
  <p>プラン追加の際には、滞在期間の入力と滞在場所の入力を行います。滞在場所の入力は画面上のGoogleMapsの座標をクリックすることで可能になります。</p>
  <div class="well"><%= image_tag 'create_plan.png', width: '80%' %></div>

  <p>作成後、プランの詳細ページに遷移します。飯屋の設定は現在プランの作成者のみが行えるようになっています。</p>
  <div class="well"><%= image_tag 'created_plan.png', width: '80%' %></div>

  <h1>プランに参加する</h1>
  <p>プランに参加するにはトップページにある「友達のプラン一覧」よりプランを選択します。</p>
  <p>この際、友達のプラン一覧に表示されるプランはログイン中のTwitterアカウントの相互フォロー関係になっているアカウントのみの上、相互フォロー関係でないプランのページにはアクセスできないようになっています。</p>
  <p>プランを選択すると以下のようなページに遷移します。</p>
  <div class="well"><%= image_tag 'attend.png', width: '80%' %></div>
  <p>プランに参加したい場合は「参加してみることにする」をクリックすることで参加となり、参加者一覧に表示されます。</p>
  <p>参加できなくなった場合や気が変わった場合には、「参加しないことにする」をクリックすることで参加をキャンセルすることができます。</p>
  <div class="well"><%= image_tag 'attended.png', width: '80%' %></div>
</div>
