<div class = "text-center">
  <h1>我こそは異界の地で飯に困る者達の<ruby>救<rt>メ</rt>世<rt>シ</rt>主<rt>ア</rt>である</h1>
</div>
<% if signed_in? %>
<h1>
  ようこそ <%= current_user.name.to_s %> @<%= current_user.screen_name.to_s %> さん
</h1>

<h2>自分のプラン一覧</h2>

<a href="/plan/new">Plan作成はこちらから</a>

<ul>
  <% current_user.owner_plans.each do |plan| %>
    <li>
      <a href="/profile/<%= plan.owner_user.id %>">
        <img src="<%= plan.owner_user.icon_url %>"/>
      </a>
      <a href="/plan/<%= plan.id %>">
        日付: <%= plan.start_datetime.to_s %>
      </a>
    </li>
  <% end %>
</ul>

<h2>参加予定のプラン一覧</h2>
<ul>
  <% current_user.attend_plans.each do |plan| %>
    <li>
      <a href="/profile/<%= plan.owner_user.id %>">
        <img src="<%= plan.owner_user.icon_url %>"/>
      </a>
      <a href="/plan/<%= plan.id %>">
        日付: <%= plan.start_datetime.to_s %>
      </a>
    </li>
  <% end %>
</ul>
<% end %>
