<!DOCTYPE html>
<html>
  <head>
    <title>Messiah</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'bootstrap.min' %>
    <%= javascript_include_tag 'bootstrap.min' %>
    <style type="text/css">
      body { padding-top: 80px; }
    </style>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["google_maps_api_key"] %>"></script>
    <script type="text/javascript">
    function set_map(living_latitude, living_longitude) {
        var mapdiv = document.getElementById('map_canvas');
        var myOptions = {
            zoom: 14,
            center: new google.maps.LatLng(living_latitude,living_longitude),
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            scaleControl: true,
        };
        var map = new google.maps.Map(mapdiv, myOptions);
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(living_latitude,living_longitude),
            map: map,
            title: 'あなたの現在地'
        });

        return {map: map, marker: marker};
    }
    </script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Messiah</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if signed_in? %>
              <li><a href="/profile/me"><%= "#{current_user.name}@#{current_user.screen_name}" %>さん</a></li>
              <li><a href="/profile/logout">ログアウト</a></li>
            <% else %>
              <li><a href="/auth/twitter">Twitterでログイン</a></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div id="header">
      <div class="container">
        <div class="row">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
